/* Grid
-------------------------------------- */
/* Define the grid */
.OinU {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 1fr);
}

/* Place item on the grid */
.OinU__feature {
  grid-column: 2 / span 3;
  grid-row: 1 / span 3;
}

/* Generic styles for demo purposes
-------------------------------------- */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.OinU {
  font-family: Helvetica, Arial, sans-serif;
  max-width: 75rem;
}

.OinU > * {
  background-color: #ccc;
  padding: 1em;
  min-height: 100px;
}
